<div class="page-header">
  <h3>Skier #<%= @skier.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @skier.email %></dd>

      <dt>Password</dt>
      <dd><%= @skier.password %></dd>

      <dt>Name</dt>
      <dd><%= @skier.name %></dd>

      <dt>Dob</dt>
      <dd><%= @skier.dob %></dd>

      <dt>Home mountain</dt>
      <dd><%= @skier.home_mountain %></dd>

      <dt>Ski level</dt>
      <dd><%= @skier.ski_level %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/skiers" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Skier has many avalanche_infos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Avalanche Infos
      </li>

      <% @skier.avalanche_infos.each do |avalanche_info| %>
        <li class="list-group-item">
          <a href="/avalanche_infos/<%= avalanche_info.id %>">
            <%= avalanche_info.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/avalanche_infos/<%= avalanche_info.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_skier == avalanche_info.skier %>
              <a href="/avalanche_infos/<%= avalanche_info.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_avalanche_info/<%= avalanche_info.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
