<div class="page-header">
  <h3>Skier #<%= @skier.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @skier.email %></dd>

      <dt>Password</dt>
      <dd><%= @skier.password %></dd>

      <dt>Name</dt>
      <dd><%= @skier.name %></dd>

      <dt>Dob</dt>
      <dd><%= @skier.dob %></dd>

      <dt>Home mountain</dt>
      <dd><%= @skier.home_mountain %></dd>

      <dt>Ski level</dt>
      <dd><%= @skier.ski_level %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/skiers" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
