<div class="page-header">
  <h3>Avalanche Info #<%= @avalanche_info.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @avalanche_info.location %></dd>

      <dt>Skier</dt>
      <dd><%= @avalanche_info.skier_id %></dd>

      <dt>Name</dt>
      <dd><%= @avalanche_info.name %></dd>

      <dt>Details</dt>
      <dd><%= @avalanche_info.details %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/avalanche_infos" class="btn btn-primary">
        Back
      </a>
      <% if current_skier == @avalanche_info.skier %>
        <a href="/avalanche_infos/<%= @avalanche_info.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_avalanche_info/<%= @avalanche_info.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
